
/* ant design overwrites here */
.ant-btn-primary {
	background-color: #00a0af; 
	border-color: #00a0af;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
	background-color: #0a8ea0; 
}
.ant-btn .anticon {
    vertical-align: middle;
    line-height: 0;
  }

.ant-btn > .anticon + span, 
.ant-btn > span + .anticon {
vertical-align: middle;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #00a0af;
	border-color: #00a0af;
}

/* More global styles here */

.drop-placeholder {
	background-color: #CCC;
}