<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LendIn Admin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#ffffff">

        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png?v=Om5N75Y123">
        <link rel="icon" type="image/png" href="images/favicon-32x32.png?v=Om5N75Y123" sizes="32x32">
        <link rel="icon" type="image/png" href="images/favicon-16x16.png?v=Om5N75Y123" sizes="16x16">
        <link rel="manifest" href="manifest.json">
        <link rel="mask-icon" href="images/safari-pinned-tab.svg?v=Om5N75Y123" color="#506d75">
        <link rel="shortcut icon" href="favicon.ico?v=Om5N75Y123">

        <link href="styles/bootstrap.min.css" rel="stylesheet" >
        <link href="additional_components/angular-ui-select2/select2.css" rel="stylesheet" >
        <link href="additional_components/ng-grid/ng-grid-2.0.14.min.css" rel="stylesheet" >
        <link href="additional_components/ui-grid/ui-grid.min.css" rel="stylesheet" >
        <link href="bower_components/json-formatter/json-formatter.min.css" rel="stylesheet" >
        <link href="styles/style.css" rel="stylesheet" >

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-app="flowableAdminApp">
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation" ng-show="authenticated" ng-cloak>
            <div class="container">
                <!-- Profile/user -->
                <div ng-show="authenticated" class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{account.login}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#engine" translate="GENERAL.MENU.CONFIGURATION"></a></li>
                        <li><a href="" ng-click="logout()" translate="GENERAL.ACTION.LOGOUT"></a></li>
                    </ul>
                </div>
                <div class="navbar-header pull-right">
                    <a class="navbar-brand" title="{{'GENERAL.MAIN-TITLE' | translate}}"><span class="sr-only">{{'GENERAL.TITLE.MAIN' | translate}}</span></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" ng-show="authenticated">
                        <li ng-class="{'active-process': navigation.main == 'process-engine'}"><a href="#process-engine" translate="GENERAL.MENU.PROCESS-ENGINE"></a></li>
                        <li ng-class="{'active-cmmn': navigation.main == 'cmmn-engine'}"><a href="#cmmn-engine" translate="GENERAL.MENU.CMMN-ENGINE"></a></li>
                        <li ng-class="{'active-app': navigation.main == 'app-engine'}"><a href="#app-engine" translate="GENERAL.MENU.APP-ENGINE"></a></li>
                        <li ng-class="{'active-form': navigation.main == 'form-engine'}"><a href="#form-engine" translate="GENERAL.MENU.FORM-ENGINE"></a></li>
                        <li ng-class="{'active-dmn': navigation.main == 'dmn-engine'}"><a href="#dmn-engine" translate="GENERAL.MENU.DMN-ENGINE"></a></li>
                        <li ng-class="{'active-content': navigation.main == 'content-engine'}"><a href="#content-engine" translate="GENERAL.MENU.CONTENT-ENGINE"></a></li>
                    </ul>
                </div>
                <div class="sub-navbar" ng-class="{'active-process': navigation.main == 'process-engine', 'active-cmmn': navigation.main == 'cmmn-engine', 'active-app': navigation.main == 'app-engine', 'active-form': navigation.main == 'form-engine', 'active-dmn': navigation.main == 'dmn-engine', 'active-content': navigation.main == 'content-engine'}">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav" ng-if="navigation.main == 'process-engine'">
                            <li ng-class="{'active': navigation.sub == 'deployments'}"><a href="#deployments" translate="GENERAL.MENU.DEPLOYMENTS"></a></li>
                            <li ng-class="{'active': navigation.sub == 'definitions'}"><a href="#process-definitions" translate="GENERAL.MENU.DEFINITIONS"></a></li>
                            <li ng-class="{'active': navigation.sub == 'instances'}"><a href="#process-instances" translate="GENERAL.MENU.INSTANCES"></a></li>
                            <li ng-class="{'active': navigation.sub == 'tasks'}"><a href="#tasks" translate="GENERAL.MENU.TASKS"></a></li>
                            <li ng-class="{'active': navigation.sub == 'jobs'}"><a href="#jobs" translate="GENERAL.MENU.JOBS"></a></li>
                            <li ng-class="{'active': navigation.sub == 'event-subscriptions'}"><a href="#event-subscriptions" translate="GENERAL.MENU.EVENT-SUBSCRIPTIONS"></a></li>
                        </ul>
                        <ul class="nav navbar-nav" ng-if="navigation.main == 'cmmn-engine'">
                            <li ng-class="{'active': navigation.sub == 'deployments'}"><a href="#cmmn-deployments" translate="GENERAL.MENU.DEPLOYMENTS"></a></li>
                            <li ng-class="{'active': navigation.sub == 'definitions'}"><a href="#case-definitions" translate="GENERAL.MENU.DEFINITIONS"></a></li>
                            <li ng-class="{'active': navigation.sub == 'instances'}"><a href="#case-instances" translate="GENERAL.MENU.INSTANCES"></a></li>
                            <li ng-class="{'active': navigation.sub == 'tasks'}"><a href="#cmmn-tasks" translate="GENERAL.MENU.TASKS"></a></li>
                            <li ng-class="{'active': navigation.sub == 'jobs'}"><a href="#cmmn-jobs" translate="GENERAL.MENU.JOBS"></a></li>
                        </ul>
                        <ul class="nav navbar-nav" ng-if="navigation.main == 'app-engine'">
                            <li ng-class="{'active': navigation.sub == 'deployments'}"><a href="#app-deployments" translate="GENERAL.MENU.DEPLOYMENTS"></a></li>
                            <li ng-class="{'active': navigation.sub == 'definitions'}"><a href="#app-definitions" translate="GENERAL.MENU.DEFINITIONS"></a></li>
                        </ul>
                        <ul class="nav navbar-nav" ng-if="navigation.main == 'form-engine'">
                            <li ng-class="{active: navigation.sub == 'deployments'}"><a href="#form-deployments" translate="GENERAL.MENU.DEPLOYMENTS"></a></li>
                            <li ng-class="{active: navigation.sub == 'definitions'}"><a href="#form-definitions" translate="GENERAL.MENU.DEFINITIONS"></a></li>
                            <li ng-class="{active: navigation.sub == 'instances'}"><a href="#form-instances" translate="GENERAL.MENU.INSTANCES"></a></li>
                        </ul>
                        <ul class="nav navbar-nav" ng-if="navigation.main == 'dmn-engine'">
                            <li ng-class="{active: navigation.sub == 'deployments'}"><a href="#decision-table-deployments" translate="GENERAL.MENU.DEPLOYMENTS"></a></li>
                            <li ng-class="{active: navigation.sub == 'decision-tables'}"><a href="#decision-tables" translate="GENERAL.MENU.DECISION-TABLES"></a></li>
                            <li ng-class="{active: navigation.sub == 'executions'}"><a href="#decision-table-executions" translate="GENERAL.MENU.DECISION-TABLE-EXECUTIONS"></a></li>
                        </ul>
                        <ul class="nav navbar-nav" ng-if="navigation.main == 'content-engine'">
                            <li ng-class="{active: navigation.sub == 'content-items'}"><a href="#content-items" translate="GENERAL.MENU.CONTENT-ITEMS"></a></li>
                        </ul>
                    </div>
                </div>

                <!-- /.nav-collapse -->

            </div><!-- /.container -->
        </div><!-- /.navbar -->

		<div class="alert-wrapper" ng-cloak>
			<div class="alert fadein {{alerts.current.type}}" ng-show="alerts.current" ng-click="dismissAlert()">
				<i class="glyphicon" ng-class="{'glyphicon-ok': alerts.current.type == 'info', 'glyphicon-remove': alerts.current.type == 'error'}"></i>
				<span>{{alerts.current.message}}</span>
				<div class="pull-right" ng-show="alerts.queue.length > 0">
					<span class="badge">{{alerts.queue.length + 1}}</span>
				</div>
			</div>
		</div>

        <div ng-view="" ng-show="serverLoaded || authenticated" ng-cloak></div>
        <script type="text/ng-template" id="userItemTemplate.html"><a typeahead-scroll-item="$parent.$index"><span class="glyphicon glyphicon-user"></span><span class="user-label" bind-html-unsafe="match.label | typeaheadHighlight:query"></span></a></script>

        <!-- build:js scripts/scripts.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="additional_components/angular-ui-select2/select2.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload-shim.js" ></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.min.js" ></script>
        <script src="bower_components/momentjs/momentjs.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script src="bower_components/angular-ui-utils/ui-utils.min.js"></script>
        <script src="additional_components/angular-ui-select2/angular-ui-select2.js"></script>
        <script src="additional_components/ng-grid/ng-grid-2.0.14.min.js"></script>
        <script src="additional_components/ui-grid/ui-grid.min.js"></script>
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <script src="bower_components/json-formatter/json-formatter.min.js"></script>


        <script src="scripts/config.js"></script>
        <script src="scripts/utils.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/recursion-helper.js"></script>
        <script src="scripts/controllers.js"></script>
        <script src="scripts/deployments-controllers.js"></script>
        <script src="scripts/deployment-controllers.js"></script>
        <script src="scripts/process-definitions-controllers.js"></script>
        <script src="scripts/process-definition-controllers.js"></script>
        <script src="scripts/process-instances-controllers.js"></script>
        <script src="scripts/process-instance-controllers.js"></script>
        <script src="scripts/tasks-controllers.js"></script>
        <script src="scripts/task-controllers.js"></script>
        <script src="scripts/engine-controller.js"></script>
        <script src="scripts/jobs-controllers.js"></script>
        <script src="scripts/job-controllers.js"></script>
        <script src="scripts/event-subscriptions-controllers.js"></script>
        <script src="scripts/event-subscription-controllers.js"></script>
        <script src="scripts/users-controllers.js"></script>
        <script src="scripts/services.js"></script>
        <script src="scripts/directives.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/cmmn-deployments-controllers.js"></script>
        <script src="scripts/cmmn-deployment-controllers.js"></script>
        <script src="scripts/case-definitions-controllers.js"></script>
        <script src="scripts/case-definition-controllers.js"></script>
        <script src="scripts/case-instances-controllers.js"></script>
        <script src="scripts/case-instance-controllers.js"></script>
        <script src="scripts/cmmn-tasks-controllers.js"></script>
        <script src="scripts/cmmn-task-controllers.js"></script>
        <script src="scripts/cmmn-jobs-controllers.js"></script>
        <script src="scripts/cmmn-job-controllers.js"></script>
        <script src="scripts/app-deployments-controllers.js"></script>
        <script src="scripts/app-deployment-controllers.js"></script>
        <script src="scripts/app-definitions-controllers.js"></script>
        <script src="scripts/app-definition-controllers.js"></script>
        <script src="scripts/decision-table-deployments-controllers.js"></script>
        <script src="scripts/decision-table-deployment-controllers.js"></script>
        <script src="scripts/decision-tables-controllers.js"></script>
        <script src="scripts/decision-table-controllers.js"></script>
        <script src="scripts/decision-table-executions-controllers.js"></script>
        <script src="scripts/decision-table-execution-controllers.js"></script>
        <script src="scripts/form-deployments-controllers.js"></script>
        <script src="scripts/form-deployment-controllers.js"></script>
        <script src="scripts/form-definitions-controllers.js"></script>
        <script src="scripts/form-definition-controllers.js"></script>
        <script src="scripts/form-instances-controllers.js"></script>
        <script src="scripts/form-instance-controllers.js"></script>
        <script src="scripts/content-items-controllers.js"></script>
        <script src="scripts/content-item-controllers.js"></script>
        <!-- endbuild -->
</body>
</html>
