input[type=text]:not(.browser-default),
input[type=number]:not(.browser-default),
input:not([type]) {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}


.smooth-dnd-container.horizontal {
  width: 100%;
  min-height: 80px;
}
.drop-placeholder {
  border: 1px dashed #0a8ea0 !important;
  border-radius: 5px;
  background: #FFF !important;
}
.dragging-element {
  background: #FFF;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.15);
}
.dropping-element {
  border: 1px solid #1890ff;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4); 
}