<!-- <div id="draggableComponentList" ng-if="componentType == 'componentList'"> </div>
<div id="editorPlayGround" ng-if="componentType == 'layoutConfigBlock'"> </div>
<div id="fieldConfigBlock" ng-if="componentType == 'fieldConfigBlock'"> </div>
<div id="editorFormSaveBlock" ng-if="componentType == 'formSaveBlock'"> </div> -->
<div id="react-editor-container" style="height: 100%;"> </div>